@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h3,
p,
h2,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-wrapper {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}
.header-wrapper__right {
  display: flex;
  width: 333px;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper a:focus {
  color: #2196f3;
  transition: color 250ms ease-in;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.logo-link__web {
  color: #2196f3;
  padding-top: 24px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-list__item {
  position: relative;
}
.nav-list__link {
  text-decoration: none;
  color: #212121;
}
.nav-list a:hover {
  color: #2196f3;
}
.nav-list__item::after {
  position: absolute;
  top: 44px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.nav-list__item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header-wrapper__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.header-wrapper__contact-link .contact__icon {
  margin-right: 10px;
  fill: rgb(117, 117, 117);
}
.header-wrapper__contact-link:hover .contact__icon, .header-wrapper__contact-link:focus .contact__icon {
  fill: #2196f3;
  transition: fill 250ms ease-in;
}
.header-wrapper__contact-link:hover {
  color: #2196f3;
  transition: color 250ms ease-in;
}

.hero {
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/WebStudio/font/new_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__btn {
  width: 216px;
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  padding: 40px;
  border-radius: 4px;
  z-index: 100;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal__btn-submit {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  margin: 30px 124px 0 124px;
}
.modal__text {
  margin-top: 20px;
}
.modal-link {
  color: #2196f3;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 5px;
}

.modal-list__input {
  margin-top: 4px;
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 12px 0 12px 42px;
  cursor: pointer;
}
.modal-list__input:hover, .modal-list__input:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.modal-list__icon:hover, .modal-list__icon:focus {
  fill: #2196f3;
  transition: fill 250ms ease;
}
.modal-list__input:focus + .modal-list__icon {
  fill: #2196f3;
  transition: fill 250ms ease;
}
.modal-list__input:hover + .modal-list__icon {
  fill: #2196f3;
  transition: fill 250ms ease;
}
.modal-list__label {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}
.modal-list__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 29px;
  left: 12px;
  cursor: pointer;
}
.modal-list__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-list__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-list__textarea {
  resize: none;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  cursor: pointer;
}
.modal-close__icon {
  fill: #212121;
  width: 18px;
  height: 18px;
}
.modal-close__icon:hover, .modal-close__icon:focus {
  fill: #2196f3;
  transition: fill 250ms ease;
}

.features {
  width: 1200px;
  margin: 0 auto;
}
.features-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.features-wrapper-list:nth-child(n) {
  width: 270px;
  border-radius: 4px;
  background: #F5F4FA;
}
.features-wrapper-list__svg {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}
.features-list__item {
  width: 270px;
}
.features-list__subtitle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-list__paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  width: 1200px;
  margin-left: 215px;
  margin-bottom: 94px;
}
.works-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.works-list__item:nth-child(n)::after {
  content: "";
  position: absolute;
  width: 370px;
  bottom: 0;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.works-list__item:nth-child(1)::after {
  content: "Десктопні додатки";
}
.works-list__item:nth-child(2)::after {
  content: "Мобільні додатки";
}
.works-list__item:nth-child(3)::after {
  content: "Дизайнерські рішення ";
}
.works-list__item {
  width: 370px;
  height: 294px;
}
.works-list__item > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.our-skills {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-list__name {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list__item {
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  padding-bottom: 30px;
}
.team-list__thumb {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.team-list__thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.links-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 16px auto 0;
}
.links-list__svg {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}
.links-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.links-list__item:hover .links-list__svg {
  fill: #ffffff;
  transition: fill 500ms linear;
}
.links-list__item:focus .links-list__svg {
  fill: #ffffff;
  transition: fill 500ms linear;
}
.links-list__item:hover {
  border-radius: 50%;
  background-color: #2196f3;
  transition: background-color 500ms linear;
}
.links-list__item:focus {
  border-radius: 50%;
  background-color: #2196f3;
  transition: background-color 500ms linear;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1.08px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  margin-left: 215px;
  width: 1200px;
}
.customers-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
.customers-list__item:hover .customers-list__svg {
  fill: #2196f3;
  transition: fill 500ms ease-in;
}
.customers-list__item:hover {
  border: 1px solid #2196f3;
  transition: border 500ms ease-in;
}
.customers-list__item:focus .customers-list__svg {
  fill: #2196f3;
  transition: fill 500ms ease-in;
}
.customers-list__item:focus {
  border: 1px solid #2196f3;
  transition: border 500ms ease-in;
}
.customers-list__svg {
  width: 106px;
  height: 60px;
}
.customers-list__svg {
  fill: rgb(175, 177, 184);
}

.footer {
  width: 1600px;
  height: 252px;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer-wrapper__left {
  display: flex;
  flex-direction: column;
  width: 231px;
}
.footer-wrapper h2 {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-wrapper__left a:hover {
  color: #2196f3;
  transition: color 500ms ease-out;
}
.footer-wrapper__left a:focus {
  color: #2196f3;
  transition: color 500ms ease-out;
}
.footer-wrapper a:focus {
  color: #2196f3;
  transition: color 500ms ease-out;
}
.footer-wrapper__street {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}

.logo__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.footer-contact-list a {
  text-decoration: none;
  color: #AFB1B8;
}
.footer-contact-list__item {
  margin-top: 9px;
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 12px;
}

.footer-links-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.footer-links-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-links-list__item:hover {
  border-radius: 50%;
  background-color: #2196f3;
  transition: background-color 1s ease;
}
.footer-links-list__item:focus {
  border-radius: 50%;
  background-color: #2196f3;
  transition: background-color 1s ease;
}
.footer-links-list__svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.telegram {
  padding-top: 12px;
  width: 570px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 93px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  outline: none;
  color: #FFF;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 12px;
}
.footer-form__label {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.footer-form__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  position: absolute;
  left: 370px;
  animation: back 10s linear 500ms infinite;
}

@keyframes back {
  0% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: black;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: #2196F3;
  }
}/*# sourceMappingURL=main.css.map */