.footer{
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.address-footer{
  display: flex;
  flex-direction: column;
  width: 231px;
}
.street {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}
.tel-item{
  margin-top: 9px;
}
.footer-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.contact-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.contact-footer a {
  text-decoration: none;
  color: #757575;
}
.address-footer a:hover {
  color: #2196f3;
    transition: color 500ms ease-out;
}
.address-footer a:focus{
  color: #2196f3;
  transition: color 500ms ease-out;
}
.footer-wrapper a:focus{
  color: #2196f3;
    transition: color 500ms ease-out;
}
.link-footer{
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.links-footer{
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.link-li-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.link-li-footer:hover{
  border-radius: 50%;
  background-color: #2196F3;
    transition: background-color 1s ease;
}
.link-li-footer:focus{
  border-radius: 50%;
  background-color: #2196F3;
    transition: background-color 1s ease;
}
.footer-wrapper h2{
  color: #FFF;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
margin-bottom: 20px;
text-transform: uppercase;
}
.join{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 12px;
}
.telegram-icon{
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.telegram-btn{
  width: 200px;
  height: 50px;
  border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
position: absolute;
left: 370px;
animation: back 5s linear 500ms infinite;
}
.footer-input{
  width: 358px;
  height: 50px;
  border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;
outline: none;
color: #FFF;
cursor: pointer;
margin-top: 20px;
margin-right: 12px;
}
.footer-label{
  color: #FFF;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.telegram{
  padding-top: 12px;
  width: 570px;
}
.footer-form{
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 93px;
}
@keyframes back{
  0%{
    background-color: red;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: #2196F3;
  }
}