.features{
  width: 1200px;
  margin: 0 auto;
  &-wrapper{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  }
  &-wrapper-list:nth-child(n){
  width: 270px;
  border-radius: 4px;
background:  getColor('third-background');
}
&-wrapper-list__svg{
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}
}
.advantages{
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  &__item{
  width: 270px;
}
&__subtitle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  getColor('text');
}
&__paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color:  getColor('svg');
}
}