.features{
  width: 1200px;
  margin: 0 auto;
  &-wrapper{
  @extend %flex;
  width: 1200px;
  }
  &-wrapper-list:nth-child(n){
  width: 270px;
  border-radius: 4px;
background:  getColor('third-background');
}
&-wrapper-list__svg{
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}
}
.advantages{
  @extend %padding-94;
}
.features-list {
  @extend %flex;
  &__item{
  width: 270px;
}
&__subtitle {
  @include fonts(700, 14px, 0.03em, $text-transform:uppercase, $text-align:left);
  margin-top: 30px;
  margin-bottom: 10px;
  color:  getColor('text');
}
&__paragraf {
    @include fonts($font-size:14px, $letter-spacing:0.03em, $line-height:1.7, $text-align:left);
  color:  getColor('svg');
}
}