.header-wrapper {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
  }
  &__right {
    display: flex;
    width: 333px;
    justify-content: space-between;
    align-items: center;
  }
  & a:focus {
    color:  getColor('hover');
    transition: color 250ms ease-in;
  }
}
.logo-link {
  font-family: getFont('raleway'), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color:  getColor('text');
  text-decoration: none;
  &__web {
    color:  getColor('hover');
    padding-top: 24px;
  }
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  &__item {
    position: relative;
  }
  &__link {
    text-decoration: none;
    color:  getColor('text');
  }
  & a:hover {
    color:  getColor('hover');
  }
  &__item::after {
    position: absolute;
    top: 44px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:  getColor('hover');
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
  }
  &__item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.header-wrapper__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color:  getColor('svg');
.contact__icon {
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
  }
  &:hover .contact__icon,
  &:focus .contact__icon {
    fill:  getColor('hover');
    transition: fill 250ms ease-in;
  }
  &:hover {
    color:  getColor('hover');
    transition: color 250ms ease-in;
  }
}
