.hero {
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: getColor('fourth-background');
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url("/WebStudio/font/new_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    @include fonts(900, 44px, 0.06em, 1.36, $text-transform:uppercase);
  color:  getColor('background');
}
&__btn {
  @include fonts(700, $letter-spacing:0.06em, $line-height:30px);
  width: 216px;
  height: 50px;
  margin: 0 auto;
  background-color: getColor('hover');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  color:  getColor('background');
}
}