.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: getColor("background");
  overflow: auto;
  padding: 48px 40px;
  &__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover .menu__svg-close {
      fill: getColor("hover");
    }
  }
  &__svg-close {
    width: 19px;
    height: 19px;
    fill: getColor("text");
  }
}
.pages-list {
  @extend %column;
  gap: 35px;
  margin-bottom: 302px;
  &__link {
    @include fonts(500, 40px, 0.8px);
    color: getColor("text");
    &:hover{
        color: getColor('hover');
    }
  }
}
.contacts-list {
  @extend %column;
  gap: 32px;
  &__link--1 {
    @include fonts(500, 34px, 0.68px);
    color: getColor("hover");
  }
  &__link--2 {
    @include fonts(500, 24px, 0.48px);
    color: getColor("svg");
    &:hover{
        color: getColor('hover');
    }
  }
}
.socials-list {
  @extend %flex;
  margin-top: 64px;
  &__link {
    @include fonts(500, 18px, 0.36px, 1.22);
    color: getColor("hover");
  }
}
.line {
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
