.works {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px){
  display: none;
}
  &-list {
  @extend %flex;
  position: relative;
}
&-list__item:nth-child(n)::after{
  @extend %center;
  @include fonts(700, 14px, 0.42px, $text-transform:uppercase);
  content: "";
  position: absolute;
  max-width: 370px;
  width: 100%;
  bottom: 0;
  height: 70px;
  background:  getColor('background-secondary');
  color:  getColor('color');
}
&-list__item:nth-child(1)::after{
  content: "Десктопні додатки";
}
&-list__item:nth-child(2)::after{
  content: "Мобільні додатки";
}
&-list__item:nth-child(3)::after{
  content: "Дизайнерські рішення ";
}
&-list__item{
  max-width: 370px;
  width: 100%;
  height: 294px;
}
&-list__item > img{
  @extend %object;
  @extend %thumb;
  display: block;
}
}
.our-skills {
  @include fonts(700, 36px, 0.03em);
  color:  getColor('text');
  margin-top: 0;
  margin-bottom: 50px;
}