.works {
  width: 1200px;
  margin-left: 215px;
  margin-bottom: 94px;
  &-list {
  @extend %flex;
  position: relative;
}
&-list__item:nth-child(n)::after{
  @extend %center;
  @include fonts(700, 14px, 0.42px, $text-transform:uppercase);
  content: "";
  position: absolute;
  width: 370px;
  bottom: 0;
  height: 70px;
  background:  getColor('background-secondary');
  color:  getColor('color');
}
&-list__item:nth-child(1)::after{
  content: "Десктопні додатки";
}
&-list__item:nth-child(2)::after{
  content: "Мобільні додатки";
}
&-list__item:nth-child(3)::after{
  content: "Дизайнерські рішення ";
}
&-list__item{
  width: 370px;
  height: 294px;
}
&-list__item > img{
  @extend %object;
  @extend %thumb;
  display: block;
}
}
.our-skills {
    @include fonts(700, 36px, 0.03em);
  color:  getColor('text');
  margin-top: 0;
  margin-bottom: 50px;
}