.overlay:hover{
  @extend %thumb;
 background-color: rgba(33, 150, 243, 0.9);
 position: absolute;
top: 0;
cursor: pointer;
transition: background-color 1s ease;
}
.main-wrapper{
  width: 1200px;
  margin: 0 auto;
  background-color:  getColor('background');
}
.projects{
  width: 1200px;
}
.projects li{
  list-style-type: none;
}
.projects div{
  box-sizing: border-box;
background:  getColor('background');
@include bordered(#EEEEEE);
}
.works-list{
  @extend %flex;
  flex-wrap: wrap;
  margin: 56px auto 94px auto;
  &__div{
  margin-bottom: 30px;
}
&__div:hover .overlay{
  cursor: pointer;
  opacity: 1;
}
.overlay:hover &__text{
  opacity: 1;
}
&__name{
  font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
width: 322px;
height: 36px;
margin: 20px 24px 4px 24px;
color:  getColor('text');
}
&__text{
    @include fonts($line-height:1.55, $letter-spacing:0.54px, $font-size:18px, $text-align:left);
  color:  getColor('color');
font-family: getFont('basic');
position: absolute;
opacity: 0;
top: 63px;
bottom: 63px;
left: 24px;
right: 24px;
}
&__type{
  @include fonts($line-height:30px, $letter-spacing:0.03em, $text-align:left);
margin: 4px 24px 20px 24px;
color: getColor('svg');
}
&__thumb{
  position: relative;
}
&__thumb{
  width: 370px;
  height: 294px;
}
&__thumb > img{
  @extend %thumb;
  @extend %object;
    display: block;
}
}