.buttons-list {
  width: 575px;
  margin: 94px 298px 34px 297px;
  padding-right: 8px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color:  getColor('text');
& button:hover{
  background-color:  getColor('hover');
  color: getColor('background');
  transition: background-color 1s ease;
  cursor: pointer;
}
& button:focus{
  background-color:  getColor('hover');
  color:  getColor('background');
  transition: background-color 1s ease;
  cursor: pointer;
}
&__item {
  border: none;
  height: 38px;
  border-radius: 4px;
  background:  getColor('third-background');
}
&__item:nth-child(1){
width: 73px;
}
&__item:nth-child(2){
width: 125px;
}
&__item:nth-child(3){
  width: 112px;
}
&__item:nth-child(4){
  width: 103px;
}
&__item:nth-child(5){
  width: 130px;
}
}