.buttons-list {
@extend %buttons;
& button:hover{
@extend %buttons-hover;
}
& button:focus{
@extend %buttons-hover;
}
&__item {
@extend %button;
}
&__item:nth-child(1){
width: 73px;
}
&__item:nth-child(2){
width: 125px;
}
&__item:nth-child(3){
  width: 112px;
}
&__item:nth-child(4){
  width: 103px;
}
&__item:nth-child(5){
  width: 130px;
}
}